fastapi
pydantic
requests
trafilatura
beautifulsoup4
readability-lxml

playwright

gspread
oauth2client
pandas

sentence-transformers
transformers
scikit-learn

uvicorn[standard]
crawl4ai
tldextract
sumy
networkx
nltk
datasketch

langdetect
